/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
*,*::backdrop,*::after{
    box-sizing: border-box;
}
body{
    background-color: #1D2029;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
}
.header{
    padding: 32px;
}
h1{
    font-size: 26px;
    color: white;
    margin-bottom: 12px;
}
p{
    color: grey;
}
.btn-cont{
    color: grey;
}
.button{
    width: 60px;
    height: 28px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #3db2b9, #3bd192);
    margin-top: 16px;
    margin-left: 16px;
}
.circ{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #262c45;
    margin-right: 32px;
}
.box{
    width: 230px;
    height: 220px;
    padding: 22px;
    background-color: #252B43;
    text-align: center;
    border-top: 4px solid rgb(14, 177, 241);
}
.col{
    width: 24%;
    margin: 1.5%;
}
.span{
    color: grey;
}
.spa{
    margin-bottom: 18px;
}
.blue{
    color: rgb(15, 169, 231);
}
h2{
    font-size: 45px;
    color: white;
    font-weight: 700;
    margin-bottom: 8px;
}
h3{
    margin-bottom: 32px;
}
.follow{
    color: gray;
    letter-spacing: 2px;
}
.yellow{
    color: orangered;
}
.utube{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 2px;
    color: black;
    background-color: rgb(226, 16, 16);
}
h4{
    color: green;
}
.red{
    color: red;
}
.three{
    border-top: 4px solid rgb(179, 133, 49);
}
.fle{
    display: flex;
}
.boxes{
    width: 350px;
    height: 160px;
    padding: 32px;
    background-color: #252B43;
    margin: 12px;
    border-radius: 6px;
    
}
h5{
    color: gray;
    font-weight: 700;
}
h6{
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.pad{
    padding: 12px;
}
.hero{
    display: flex;
    flex-wrap: wrap;
}
